# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020-2023 Intel Corporation

apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              control-plane: controller-manager
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        image: sriov-fec-operator:v2.1.0
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 20Mi
        env:
        - name: SRIOV_FEC_DAEMON_IMAGE
          value: $SRIOV_FEC_DAEMON_IMAGE
        - name: SRIOV_FEC_LABELER_IMAGE
          value: $SRIOV_FEC_LABELER_IMAGE
        - name: SRIOV_FEC_NETWORK_DEVICE_PLUGIN_IMAGE
          value: $SRIOV_FEC_NETWORK_DEVICE_PLUGIN_IMAGE
        - name: SRIOV_FEC_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
