# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020-2021 Intel Corporation
apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: sriov-fec.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: SriovFecClusterConfig is the Schema for the sriovfecclusterconfigs API
      displayName: SriovFecClusterConfig
      kind: SriovFecClusterConfig
      name: sriovfecclusterconfigs.sriovfec.intel.com
      resources:
      - kind: SriovFecNodeConfig
        name: node
        version: v1
      specDescriptors:
      - description: List of node configurations
        displayName: Nodes
        path: nodes
      - description: List of physical functions (cards) configs
        displayName: Physical Functions
        path: nodes[0].physicalFunctions
      statusDescriptors:
      - description: Indicates the synchronization status of the CR
        displayName: Sync Status
        path: syncStatus
      version: v1
    - description: SriovFecNodeConfig is the Schema for the sriovfecnodeconfigs API
      displayName: SriovFecNodeConfig
      kind: SriovFecNodeConfig
      name: sriovfecnodeconfigs.sriovfec.intel.com
      resources:
      - kind: SriovFecNodeConfig
        name: node
        version: v1
      specDescriptors:
      - description: List of PhysicalFunctions configs
        displayName: Physical Functions
        path: physicalFunctions
      statusDescriptors:
      - description: Provides information about FPGA inventory on the node
        displayName: Inventory
        path: inventory
      version: v1
  description: "The Intel® FPGA Programmable Acceleration Card N3000 (Intel® FPGA PAC N3000) is a highly customizable FPGA SmartNIC which enables high-throughput, low latency and high-bandwith applications.  It allows the optimization of data plane performance to reduce total cost of ownership while maintaining a high degree of flexibility.  The Intel FPGA PAC N3000 plays a key role in accelerating 5G and network functions virtualization (NFV) adoption for ecosystem partners such as telecommunications equipment manufacturers (TEMs) virtual network functions (VNF) vendors, system integrators and telcos, to bring scalable and high-performance solutions to market. The Intel FPGA PAC N3000 includes a variant that is design to be Network Equipment Building System (NEBS)-friendly, and features a Root-of-Trust device that helps protect systems from FPGA host security exploits. This document explains how the FPGA resource can be used on the Open Network Edge Services Software (OpenNESS) platform for accelerating network functions and edge application workloads. We use the Intel® FPGA PAC N3000 as a reference FPGA PAC and use LTE/5G Forward Error Correction (FEC) as an example workload that accelerates the 5G or 4G L1 base station network function. The same concept and mechanism is applicable for application acceleration workloads like AI and ML on FPGA for Inference applications. The Intel® FPGA PAC N3000 is a full-duplex, 100 Gbps in-system, re-programmable acceleration card for multi-workload networking application acceleration. It has an optimal memory mixture designed for network functions, with an integrated network interface card (NIC) in a small form factor that enables high throughput, low latency, and low power per bit for a custom networking pipeline. The ACC100 supports the O-RAN adopted DPDK BBDev API - an API which Intel contributed to the opensource community to enable choice and TTM for FEC acceleration solutions. The FlexRAN software reference architecture supports the ACC100 which enables users to quickly evaluate and build platforms for the wide range of vRAN networks. Reduces platform power, E2E latency and Intel® CPU core count requirements as well as increases cell capacity than existing programmable accelerator. Accelerates both 4G and 5G data concurrently.\tLowers development cost using commercial off the shelf (COTS) servers. Accommodates space-constrained implementations via a low-profile PCIe card form factor. Enables a variety of flexible FlexRAN deployments from small cell to macro to Massive MIMO networks. Supports extended temperature for the most challenging of RAN deployment scenario’s."
  displayName: OpenNESS SR-IOV Operator for Wireless FEC Accelerators
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - N3000
  - N3000-2
  - N3000-n
  - ACC100
  - vRAN
  - ORAN
  - fpga accelerator
  links:
  - name: Sriov Fec
    url: https://sriov-fec.domain
  maturity: alpha
  provider:
    name: Intel Corporation
    url: https://www.intel.com/content/www/us/en/programmable/products/boards_and_kits/dev-kits/altera/intel-fpga-pac-n3000/overview.html
  replaces: sriov-fec.v1.2.0
  version: 0.0.0
