# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2020 Intel Corporation

# permissions for end users to edit sriovfecnodeconfigs.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sriovfecnodeconfig-editor-role
rules:
- apiGroups:
  - sriovfec.intel.com
  resources:
  - sriovfecnodeconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sriovfec.intel.com
  resources:
  - sriovfecnodeconfigs/status
  verbs:
  - get
